<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite  name="CO_TestCases" >

    <!--<test name="CO_Search_TC">-->
        <!--<classes>-->
            <!--<class name="test.java.SearchPageTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <test name="Co_FileUpload_TC">
        <classes>
            <class name="test.java.ReportingPageTest"/>
        </classes>
    </test>
   <!-- <test name="CO_Reporting_TC">
        <classes>
            <class name="SearchPageTest"/>
        </classes>
    </test>&ndash;&gt;-->
<!--
    <test name="Co_Test">
        <classes>
            <class name="SearchPageTest"/>
            <class name="ReportingPageTest"/>
        </classes>
    </test>-->
</suite>